header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.carousel-item {
    height: 100vh;
}

.carousel-caption img {
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.carousel-caption {
    bottom: 50%;
    transform: translateY(50%);
}

.carousel-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0px;
    left: 0px;
}

.carousel-indicators li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

h5 {
    font-size: 40px;
}

header .navbar .nav-item.active .nav-link {
    color: green;
}

header .navbar .nav-item {
    position: relative;
    margin-left: 10px;
}

header .navbar .nav-item::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    background: green;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

header .navbar .nav-item:hover::before,
header .navbar .nav-item.active::before {
    width: 100%;
    color: green;
}

.carousel-indicators li.active {
    background-color: green;
}

.project_tabs .nav {
    justify-content: space-evenly;
}

.project_tabs .nav-pills .nav-link.active {
    background-color: green;
    color: aliceblue;
}

.project_tabs .nav-pills .nav-link {
    border: 1px solid black;
    margin: 0 10px;
    color: black;
}

.project_title p {
    max-width: 750px;
    text-align: center;
    margin-left: 200px;
}

.project_tabs .card {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    border: none;
}

.project_tabs .card h4 {
    font-size: 20px;
    transition: 0,5s;
}

.project_tabs .card-body {
    border: none;
    border-radius: 0 0 20px 20px;
    border-top: none;
    transition: 0.5s;
    
}
.project_tabs .card:hover h4{
    color: green;
}
.project_tabs .card-body:hover{
    border: 1px solid green;
    border-top: none;
}
#experience{
    background-image: url(img/3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#experience::before{
    content: '';
    position: absolute;
    background: rgb(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.experience_title{
    position: relative;
    z-index: 1;
}